.intro__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  margin: 0;
}

@media (max-width: 767px) {
.intro__title {
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
  }
}